# Node modules
/node_modules

# Compiled output
/dist

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store

# Test coverage
/coverage
/.nyc_output

# IDE and editor settings
/.vscode
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Environment files
.env
.env.*
